@use '@carbon/styles/scss/themes' as *;
@use '@carbon/styles/scss/theme';
:root {
  @include theme.theme($g90);
  --ddr-role-research: #0f62fe;
  --ddr-role-teaching: #ff832b;
  --ddr-role-administration: #be95ff;
  --ddr-role-technical: #42be65;
  --ddr-role-other: #a8a8a8;
}
